{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      

<h1 class="heading-xlarge">
  Assurance      </h1>



      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>request a service assessment</li>
        <li>request a health check</li>
        <li>request a mock assessment, before a GDS assessment</li>
      </uL>

      
<p>Making a request takes around 5 minutes.</p>

     
 <p>
        <a class="button button-start" href="#" role="button">Start now</a>
      </p>

      

<h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="#">email the team.</a></p>

      
<p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

      <p>This is for all services build or bought by the Home Office.</p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">What you need</h2>
        <nav role="navigation" aria-labelledby="whatyouneed-title">
          <ul class="font-xsmall">
           


      <p>You will need:</p>

      <ul class="list list-bullet">
        <li>a brief summary of your service</li>
        <li>a high level architecture diagram</li>
        <li>to know when your service manager, user researcher and developer are available</li>
      </uL>

      
<p>We will come back to you with possible dates.</p>

     


